@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-pagination-bullet-active {
    background: #5B8C51; /* Active bullet color */
    opacity: 1; /* Fully visible active bullet */
    
  }


  /* styles.css */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-content {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

